name: unit tests
on:
  pull_request:
  push:
    branches: [main]

jobs:
  pytest-container:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup python
        uses: actions/setup-python@v5
        with:
          python-version-file: pyproject.toml

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install MESS
        run: uv sync --locked --all-extras --dev

      - name: Log installed environment
        run: uv pip freeze

      - name: Run unit tests
        run: uv run task test

      - name: Build MESS book
        run: uv run task docs
